* {
  box-sizing: border-box;
  --bg: #E6E6FA;
  --bg-optional: #FFF0F5;
  --text-main: #12263A;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

main {
  display: flex;
  max-width: 1200px;
  height: 600px;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  background-color: aquamarine;
  padding: 2rem 0;
}

.container.right {
  min-width: 200px;
  background-color: var(--bg-optional);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.left {
  background-color: var(--bg);
  min-width: 600px;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 1rem;
  gap: 2rem;
}

.input {
  background-color: #fff;
  width: 600px;
  height: 480px;
  outline: 0;
  border: 2px solid var(--text-main);
  resize: none;
  line-height: 1.8;
  padding: 36px;
  color: var(--darkblue);
text-align: left;
font-weight: 300;
letter-spacing: 0.9px;
}


.btn {
  width: 120px;
  height: 48px;
  margin-left: auto;
  background-color: var(--bg);
  border: 2px solid var(--text-main);
  outline: 0;
}

.subtitle {
  background-color: var(--bg);
  width: 7rem;
  height: 1.5rem;
  margin-top: 70px;
}