* {
  box-sizing: border-box;
  --bg: #e6e6fa;
  --bg-optional: #fff0f5;
  --text-main: #12263a;
  --accent: #348EE8;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

main {
  display: flex;
  min-width: 1000px;
  max-width: 1200px;
  height: 600px;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  background-color: aquamarine;
  padding: 2rem 0;
}

.container.right {
  min-width: 200px;
  background-color: var(--bg-optional);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.container.left {
  background-color: var(--bg);
  min-width: 600px;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 1rem;
  gap: 2rem;
  border-right: 2px solid var(--text-main);;
}

.input {
  background-color: #fff;
  width: 600px;
  height: 480px;
  outline: 0;
  border: 2px solid var(--text-main);
  resize: none;
  line-height: 1.8;
  padding: 36px;
  color: var(--darkblue);
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.9px;
  
}

.btn {
  width: 120px;
  height: 48px;
  margin-left: auto;
  background-color: var(--bg);
  border: 2px solid var(--text-main);
  outline: 0;
  cursor: pointer;
}

.choosen-word {
  background-color: var(--bg);
  width: 10rem;
  padding: 7px;
  margin-top: 70px;
  margin-left: 1rem;
  background-color: var(--accent);
  color: #fff;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
}

ul li {
  padding: 0;
  margin-top: 1rem;
}

.word {
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  padding: .5px 3px;
}


span:hover {
  border: 2px solid var(--accent);
  border-radius: 4px;
}

.selected {
  background-color: var(--accent);
  border: 2px solid var(--accent);
}
